* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pageTitle {
  background-color: lightcoral;
  display: block;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: black;
}

.addBtn {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 5rem;
  font-size: 1.5rem;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  outline: none;
}

.addBtn:hover {
  filter: brightness(150%);
}

.popup {
  display: none;
}

.popup.visible {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkblue;
  animation: open 0.3s forwards;
}

@keyframes open {
  100% {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.bookForm {
  width: 50%;
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  padding: 2rem 5rem;
  animation: formOpen 0.1s forwards 0.2s;
}

@keyframes formOpen {
  100% {
    opacity: 1;
  }
}

.form-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  height: 2rem;
  width: 85%;
  margin: 0.5rem 0;
  outline-color: darkblue;
  color: darkblue;
  font-size: 1.25rem;
  font-weight: bold;
}

.close {
  background-color: darkblue;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  margin-left: auto;
  cursor: pointer;
  outline: none;
}

.close:hover {
  filter: brightness(150%);
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  width: 3rem;
}

.submit {
  display: block;
  margin: 1rem auto 0;
  width: 25%;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  outline: none;
}

.submit:hover {
  filter: brightness(150%);
}

.bookGrid {
  display: grid;
  padding: 3rem 5rem;
}

.book {
  padding: 1rem 2rem;
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px black solid;
}

.book.read {
  background-color: lightgreen;
}

.book h2 {
  margin: 0.5rem 0;
}

.isRead,
.remove {
  height: 4rem;
  width: 8rem;
  margin-left: 2rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  border: darkblue 2px solid;
  color: darkblue;
  background-color: white;
  outline: none;
}

.isRead:hover,
.remove:hover {
  filter: drop-shadow(0 0 10px blue);
}

.isRead:active,
.remove:active {
  filter: drop-shadow(0 0 25px blue);
}

.test {
  pointer-events: none;
}
